// Features
// Set to "True" to activate, "False" to deactivate

// Red border on each element with .debug class
$debug: "False";

// Indicate wich is the current @media rule
$media-query-debug: "True";
$media-query-debug: "False";
