// Features
// Set to "True" to activate, "False" to deactivate

// Red border on each element with .debug class
$debug: "False";

// Indicate wich is the current @media rule
$media-query-debug: "True";
$media-query-debug: "False";

// prevent the main stylesheet to output px only values (ie8andless.scss change this behavior for ie8 compatability)
$px-only:false;