



/*****************************************************************************************\
						$$ HELPERS
\*****************************************************************************************/
// No UI elements direct styling, only helpers for hacks, position, animation, fx and @extend materials


/*
 * ::: General Hacks
**/

*
{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
}

html
{
		font-size: 62.5%;
}

body
{
	-webkit-font-smoothing: antialiased;
	font-size: u(1.8rem);
	line-height: 1.5;
}

/* bicubic resizing for non-native sized IMG:
	 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/*
 * ::: Position
**/

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
		content: "";
		display: table;
		clear: both;
}

.center
{
		margin-left: auto;
		margin-right: auto;
}

.left
{
		float: left;
}

.right
{
		float: right;
}

.txtright
{
		text-align: right;
}

.txtleft
{
		text-align: left;
}

.txtcenter
{
		text-align: center;
}

.inblock
{
		display: inline-block;
		vertical-align: top;
}

.table
{
		display: table;
}

.cell
{
		display: table-cell;
}
//le premier élément n'applique pas de marge haute (surcharger si besoin)
html:first-child, body:first-child, .page-wrapper:first-child
{
		margin-top: 0;
}


/**
 * ::: Unstyling elements
**/

.link-no-decoration
{
		a, a:hover, a:active, a:visited, a:focus, a:link
		{
				text-decoration: none;
		}
}

.list-no-decoration
{
		list-style-type: none;
		padding-left: 0;
}

.list-inline
{
	@extend .inblock;
}

.btn-unstyled
{
	border: none;
	background-color: transparent;
}


/**
 * ::: Typography
**/

/* Prevent long strings to break out of their container */
.text-wrap {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.size-chucknorris
{
		font-size: u(18.4rem);
}

.size-god
{
		font-size: u(11.2rem);
}

.size-hero
{
		font-size: u(7.2rem);
}

h1, .size-h1
{
	padding: u(4.8rem 0 0);
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2;
	font-size: u(4.2rem);
}

h2, .size-h2
{
	padding: u(3.2rem 0 0);
	margin-top: 0;
	margin-bottom: 0;
	line-height: 2;
	font-size: u(3.2rem);
}

h3, .size-h3
{
	padding: u(2.4rem 0 0);
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: u(2.4rem);
}

h4, .size-h4
{
	padding: u(0.3rem 0 0);
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: u(1.8rem);
}

h5, .size-h5, h6, .size-h6
{
	margin-top: 0;
	margin-bottom: 0;
	font-size: u(1.6rem);
}

small, .size-s
{
	font-size: u(1.4rem);
	line-height: 2;
}

.size-xs
{
	font-size: u(1.2rem);
	line-height: 2.4;
}

.size-xxs
{
	font-size: u(1rem);
	line-height: 4;
}

.text-intro
{
	font-size: u(1.8rem);
}

/**
 * ::: Hidding / unhidding content
**/

// for image replacement
%img-replace {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers
	 css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
	 www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.assistive-text,
.visually-hidden {
	position: absolute !important;
	left: u(-700rem);
	overflow: hidden;
	clip: rect( u(0.1rem 0.1rem 0.1rem 0.1rem));
	clip: rect(u(0.1rem), u(0.1rem), u(0.1rem), u(0.1rem));
}

/* invert position for right to left reading direction */
[dir=rtl] .visually-hidden {
	left: auto;
	right: u(-700rem);
}

a.assistive-text:active,
a.assistive-text:focus {
	background: #eee;
	border-bottom: u(0.1rem) solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: u(1.2rem);
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}

// Prevent bots from reading content by inverting characters position
%text-obfuscate
{
	unicode-bidi: bidi-override;
	direction: rtl;
}

/**
 * ::: FX
**/

/* Links buttonification */
%buttonify
{
	animation: buttonify 0.3s;
}
@keyframes buttonify {
	from {
		background-color: rgba($color-darkest, 0.05);
		padding: u(0.1rem 0.5rem 0.2rem);
		margin-left: u(-0.7rem);
		border: u(0.1rem) solid rgba($color-lightest, 0);
		border-radius: 0;
	}
	to {
		background-color: rgba($color-darkest, 0.05);
		padding: u(0.1rem 0.5rem 0.2rem);
		margin-left: u(-0.7rem);
		border: u(0.1rem) solid rgba($color-lightest, 0.2);
		border-radius: u(0.2rem);
	}
}

/* Text hard shadows */
.hard-text-shadow
{
	text-shadow: u(-0.1rem 0.1rem 0) $color-darkest;
}


@mixin medbug {
	@if $media-query-debug == "True" {
		display: block;
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width: u(10rem);
		height: u(3rem);
		padding-top: 0;
		padding-left: u(0.6rem);
		background-color: purple;
		border: u(0.2rem) solid red;
	}
}

#media-query-debug
{
	display: none;
	@include medbug;
}

.z-index-top
{
	z-index: 999;
}