



/*****************************************************************************************\
						$$ HELPERS
\*****************************************************************************************/
// No UI elements direct styling, only helpers for hacks, position, animation, fx and @extend materials

/*
 * ::: General Hacks
**/

*
{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 0;
}

html
{
		font-size: 62.5%;
}

body
{
	-webkit-font-smoothing: antialiased;
	font-size: 1.8rem;
	line-height: 1.5;
}

/* bicubic resizing for non-native sized IMG:
	 code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {
	-ms-interpolation-mode: bicubic;
}

/*
 * ::: Position
**/

/* blocks that must contain floats */
.clearfix:after,
.line:after,
.mod:after {
		content: "";
		display: table;
		clear: both;
}

.center
{
		margin-left: auto;
		margin-right: auto;
}

.left
{
		float: left;
}

.right
{
		float: right;
}

.txtright
{
		text-align: right;
}

.txtleft
{
		text-align: left;
}

.txtcenter
{
		text-align: center;
}

.inblock
{
		display: inline-block;
		vertical-align: top;
}

.table
{
		display: table;
}

.cell
{
		display: table-cell;
}
//le premier élément n'applique pas de marge haute (surcharger si besoin)
html:first-child, body:first-child, .page-wrapper:first-child
{
		margin-top: 0;
}

// galerie de miniatures
// .gallery-item {
// 	float: left;
// 	width: 33%;
// 	margin-top: 10px;
// 	text-align: center;
// }


/**
 * ::: Unstyling elements
**/

.link-no-decoration
{
		a, a:hover, a:active, a:visited, a:focus, a:link
		{
				text-decoration: none;
		}
}

.list-no-decoration
{
		list-style-type: none;
		padding-left: 0;
}

.list-inline
{
	@extend .inblock;
}

.btn-unstyled
{
	border: none;
	background-color: transparent;
}


/**
 * ::: Typography
**/

/* Prevent long strings to break out of their container */
.text-wrap {
	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.size-chucknorris
{
		font-size: 18.4rem;
}

.size-god
{
		font-size: 11.2rem;
}

.size-hero
{
		font-size: 7.2rem;
}

h1, .size-h1
{
	// margin: 4.8rem 0 0;
	padding: 4.8rem 0 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height:2;
	font-size: 4.2rem;
}

h2, .size-h2
{
	padding: 3.2rem 0 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height:2;
	font-size: 3.2rem;
}

h3, .size-h3
{
	padding: 2.4rem 0 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.5;
	font-size: 2.4rem;
}

h4, .size-h4
{
	padding: 0.3rem 0 0;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.2;
	font-size: 1.8rem;
}

h5, .size-h5, h6, .size-h6
{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.6rem;
}

small, .size-s
{
	font-size: 1.4rem;
	line-height: 2;
}

.size-xs
{
	font-size: 1.2rem;
	line-height: 2.4;
}

.size-xxs
{
	font-size: 1rem;
	line-height: 4;
}

.text-intro
{
	font-size: 1.8rem;
}

/**
 * ::: Hidding / unhidding content
**/

// for image replacement
%img-replace {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

/* Hide for both screenreaders and browsers
	 css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
	display: none;
	visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
	visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders
	 www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.assistive-text,
.visually-hidden {
	position: absolute !important;
	left: -7000px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

/* invert position for right to left reading direction */
[dir=rtl] .visually-hidden {
	left: auto;
	right: -7000px;
}

a.assistive-text:active,
a.assistive-text:focus {
	background: #eee;
	border-bottom: 1px solid #ddd;
	color: #1982d1;
	clip: auto !important;
	font-size: 12px;
	position: absolute;
	text-decoration: underline;
	top: 0;
	left: 7.6%;
}

// Prevent bots from reading content by inverting characters position
%text-obfuscate
{
	unicode-bidi: bidi-override;
	direction: rtl;
}

/**
 * ::: FX
**/

/* Links buttonification */
%buttonify
{
	animation: buttonify 0.3s;
}
@keyframes buttonify {
	from {
		background-color: rgba($color-darkest, 0.05);
		padding: 1px 5px 2px;
		margin-left: -7px;
		border: 1px solid rgba($color-lightest, 0);
		border-radius: 0;
	}
	to {
		background-color: rgba($color-darkest, 0.05);
		padding: 1px 5px 2px;
		margin-left: -7px;
		border: 1px solid rgba($color-lightest, 0.2);
		border-radius: 2px;
	}
}

/* Text hard shadows */
.hard-text-shadow
{
	text-shadow: -1px 1px 0 $color-darkest;
}


@mixin medbug {
	@if $media-query-debug == "True" {
		display: block;
		position: absolute;
		z-index: 999;
		top: 0;
		left: 0;
		width: 100px;
		height: 30px;
		padding-top: 0px;
		padding-left: 6px;
		background-color: purple;
		border: 2px solid red;
	}
}

#media-query-debug
{
	display: none;
	@include medbug;
}