



/*****************************************************************************************\
						$$ UI
\*****************************************************************************************/
// Decoration only.


/**
 * ::: App
**/

body
{
	background-image: url('img/pattern-floral.jpg');
	color: $color-text-paragraph;
	font-family: "costa", sans-serif;
	letter-spacing: u(0.02rem 0);
}

footer
{
	box-shadow: inset u(0 2rem 2rem -2rem) rgba($color-darkest, 0.75);
}

.body-inner
{
	position: relative;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}

.page-wrapper
{
	@extend .center;
	position: static;
	width: 100%;
}

h1, h2, h3, h4, h5, h6
{
	color: $color-text-heading;
}

#mentions-panel-container .panel
{
	background-color: desaturate(darken($color-text-heading, 42%), 20%);;
}

a
{
	padding: u(0 0.5rem);
	margin-left: u(-0.7rem);
	color: $color-link-paragraph;
	border: u(0.1rem) solid transparent;
	&:visited
	{
		color: $color-link-visited;
	}
	&:hover,
	&:active,
	&:focus
	{
		@extend %buttonify;
		padding: u(0.1rem 0.5rem 0.2rem);
		margin: u(0 0 -0.2rem -0.7rem);
		background-color: rgba($color-darkest, 0.05);
		border: u(0.1rem) solid rgba($color-lightest, 0.3);
		border-radius: u(0.2rem);
	}
}

header
{
	@extend .clearfix;
	width: 100%;
}


.site-title
{
	@extend .size-h3;
	padding-top: u(0.7rem);
}

.logo
{
	@extend .left;
	@extend %img-replace;
	width: u(23.1rem);
	height: u(3.3rem);
	background-image:  url('img/icon-logo.svg');
	background-size: 100%;
	background-position: center bottom;
	margin-top: u(0.7rem);
	margin-left: u(0.6rem);
	@media #{$media-phone-medium-retina} {
		width: u(26rem);
		height: u(4rem);
	}
	@media #{$media-phablet} {
		width: u(30rem);
		height: u(5rem);
		margin-top: u(0.2rem);
	}
	@media #{$media-desktop-small} {
		width: u(34rem);
		height: u(5rem);
		margin-top: u(1.4rem);
		margin-left: u(0.4rem);
	}
}

.logo + .panel-openButton
{
	@extend .invisible;
	@extend .right;
	letter-spacing: u(-1rem);
	&:before
	{
		content:'';
		display: inline-block;
		visibility: visible;
		width: u(2.4rem);
		height: u(1.7rem);
		margin-top: u(1.5rem);
		padding-right: u(1.8rem);
		background-image: url('img/icon-contact.svg');
		background-repeat: no-repeat;
		background-size: contain;
		@media #{$media-phone-medium-retina} {
			width: u(3rem);
			height: u(2.3rem);
			background-size: contain;
		}
		@media #{$media-phablet} {
			width: u(3.2rem);
			height: u(2.4rem);
			margin-top: u(2rem);
		}
	@media #{$media-desktop-small} {
		width: u(1.8rem);
		height: u(2.4rem);
		margin-top: u(2.2rem);
		margin-right: u(1rem);
		}
	}
}

.btn-link:hover, .btn-link:active, .btn-link:focus
{
	@extend %buttonify;
}

.nav-alternate
{
	width: 90%;
	@extend .center;
	ul
	{
		@extend .list-no-decoration;
		@extend .clearfix;
		margin-top: 0;
		padding-top: u(1.2rem);
	}
	li
	{
		@extend .right;
		@extend .size-s;
		&:first-child
		{
			@extend .left;
			padding-right: u(1.6rem);
		}
	}
	p
	{
		@extend .txtcenter;
		@extend .size-xs;
		margin: 0;
	}
	button, a
	{
		@extend .btn-unstyled;
		@extend .btn-link;
		padding-top: u(0.2rem);
	}
	button
	{
		padding-left: 0;
	}
	@media #{$media-desktop-large} {
		width: u(115.2rem);
	}
}

.link-phone, .link-email
{
	@extend %text-obfuscate;
}

.link-anchor-topPage
{
	@extend .inblock;
	&:before
	{
		@extend .link-no-decoration;
		@extend .inblock;
		content: '';
		margin-right: u(0.3rem);
		margin-top: u(0.6rem);
		width: u(1.4rem);
		height: u(1.4rem);
		background-image: url('img/icon-arrow-up.svg');
		background-size:100%;
	}
}
/**
 * ::: Page
**/

.container-map
{
	width: 84%;
	overflow-x: hidden;
}

#map_canvas
{
	width: 100%;
	max-width: u(30rem);
	height: u(26rem);
}

#map_canvas img {
	max-width: none; // to prevent UI control bug
}

#map_canvas .content {
	padding: u(0 0.5rem 1rem 0.5rem);
}

#map_canvas .firstHeading {
	font-size: u(1rem);
	line-height: u(1rem);
	font-weight: bold;
	margin: 0;
}

#map_canvas #bodyContent p {
	font-size: u(1rem);
	margin: 0;
}

.page-content-index
{
	margin-top: u(-4.5rem);
	background-image: url('img/pattern-fabric.jpg');
	@media #{$media-phone-medium-retina} {
		margin-top: u(-5rem);
	}
	@media #{$media-phablet} {
		margin-top: u(-5.6rem);
	}
	@media #{$media-desktop-small} {
		margin-top: u(-6.5rem);
	}
}

.pitch-intro
{
	@extend .txtcenter;
	background: url('img/image-pitch-intro-320x460.jpg') top left no-repeat;
	background-size: 100%;
	width: 100%;
	height: u(46rem);
	padding-top: u(25rem);
	h1, p
	{
		@extend .hard-text-shadow;
	}
	h1
	{
		@extend .size-h3;
		@extend .center;
		width: 90%;
		font-size: u(2.5rem);
		line-height: 1.3;
		@media #{$media-phone-medium-retina} {
			font-size: u(2.8rem);
			line-height: 1.2;
		}
		@media only screen and (min-width: 37.5rem) {
			font-size: u(3rem);
		}
		@media #{$media-tablet-small} {
			font-size: u(3.6rem);
		}
		@media #{$media-desktop-small} {
			width: 66%;
			font-size: u(4.6rem)
		}
		@media #{$media-desktop-medium} {
			font-size: u(5.2rem)
		}
	}
	p
	{
		@extend .text-intro;
		@extend .center;
		margin-top: 0;
		width: 90%;
		@media #{$media-phone-medium} {
			font-weight: 900;
		}
		@media #{$media-phablet} {
			padding-top: u(0.6rem);
		}
		@media #{$media-tablet-small} {
			font-size: u(2rem);
		}
		@media #{$media-desktop-small} {
			width: 60%;
			padding-top: u(1.2rem);
			font-size: u(2.6rem);
		}
		@media #{$media-desktop-medium} {
			font-size: u(3rem);
		}
	}
	// .pitch-intro : background image is now retina
	@media #{$media-phone-small-retina} {
		background-image: url('img/image-pitch-intro-320x460-retina.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
	}
	@media #{$media-phone-medium-retina} {
		padding-top: u(25rem);
	}
	@media #{$media-phone-large} {
		height: u(60rem);
		padding-top: u(41rem);
		background-image: url('img/image-pitch-intro-480x600.jpg');
	}
	@media #{$media-phone-large-retina} {
		height: u(38.4rem);
		padding-top: u(20rem);
		background-size: 100%;
	}
	@media #{$media-phablet} {
		height: u(48rem);
		background-image: url('img/image-pitch-intro-480x600-retina.jpg');
		padding-top: u(33rem);
	}
	@media #{$media-tablet-small} {
		height: u(48rem);
		background-image: url('img/image-pitch-intro-768x560.jpg');
		padding-top: u(32rem);
	}
	@media #{$media-tablet-small-retina} {
		background-image: url('img/image-pitch-intro-768x560-retina.jpg');
	}
	@media #{$media-desktop-small} {
		height: u(76.8rem);
		padding-top: u(50rem);
		background-image: url('img/image-pitch-intro-1280x768.jpg');
		background-position: top center;
		background-size: cover;
	}
	@media #{$media-desktop-medium} {
		height: u(90rem);
		background-image: url('img/image-pitch-intro-1920x1080.jpg');
		background-position: bottom center;
		padding-top: u(62rem);
	}
}

.pitch-details
{
	box-shadow: u(0 -0.2rem 0.6rem 0) rgba($color-darkest, 0.35);
	border-bottom: u(0.6rem) solid $color-brand-alternate;
	border-top: u(0.1rem) solid rgba($color-lightest, 0.15);
	background-color: $color-brand-main-light;
	ul
	{
		@extend .center;
		width: 90%;
		@media #{$media-desktop-small} {
			max-width: u(96rem);
			margin: 0 auto;
		}
		@media #{$media-desktop-large} {
			max-width: u(115.2rem);
		}
	}
	li
	{
		@extend .center;
		@media #{$media-tablet-small} {
			display: inline-block;
			vertical-align: top;
			width: u(21.5rem);
			margin-right: u(2rem);
		}
		@media #{$media-desktop-small} {
			width: u(26rem);
			margin-top: u(2.4rem);
			margin-right: u(6.8rem);
		}
		@media #{$media-desktop-large} {
			width: u(31.5rem);
			margin-right: u(10rem);
		}
		&:nth-child(3n)
		{
			@media #{$media-tablet-small} {
				margin-right: 0;
			}
		}
	}
}

.teaser-homepage
{
	@extend .list-no-decoration;
	width: 100%;
	margin-top: 0;
	padding-bottom: u(2.4rem);
	h2
	{
		@extend .size-h4;
		padding-top: u(2.4rem);
	}
	p
	{
		margin-top: u(0.8rem);
	}
}

.pitch-ending
{
	padding-bottom: u(2.4rem);
	background-color: rgba($color-darkest, 0.2);
	h2, p
	{
		@extend .center;
		width: 90%;
		@media #{$media-desktop-small} {
			max-width: u(96rem);
		}
	}
	h2
	{
		@extend .size-h3;
		@media #{$media-desktop-small} {
			text-align: center;
		}
	}
	p
	{
		@media #{$media-desktop-small} {
			margin-top: u(2.4rem);
		}
		@media #{$media-desktop-medium} {
			width: 70%;
			margin: u(2.4rem) auto;
		}
	}
}

/**
 * ::: Set
**/

#contact-panel-container, #mentions-panel-container
{
	position: fixed;
	overflow-y: auto;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin-left: 15%;
	background-color:$color-brand-main-light;
	box-shadow: u(0 0 3rem 0) rgba($color-darkest, 1);
}

.panel
{
	height: 100%;
	padding: u(1.2rem);
	box-shadow: inset u(0.1rem 0 0 0) rgba($color-lightest, 0.1)
}

.link-email
{
	padding-bottom: u(2.4rem);
}

#mentions-panel-container .panel
{
	box-shadow: inset u(0.1rem 0 0 0) rgba($color-lightest, 0.3)
}

.panel-background
{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.teaser-homepage
{
	background-image: url('img/pattern-compass.svg');
	background-size: 400%;
	background-position: 40%;
	background-repeat: repeat;
	h2:before
	{
		display: inline-block;
		content: '';
		background-image: url('img/icon-compass.svg');
		background-size: 100%;
		height: u(2.4rem);
		width: u(2.4rem);
		margin-bottom: u(-0.5rem);
		margin-right: u(0.5rem);
	}
}


/**
 * ::: Module
**/


/**
 * ::: Element
**/

.btn-link
{
	text-decoration: underline;
}
.btn-panel
{
	position: relative;
	border: u(0.1rem) solid rgba($color-brand-main-dark, 0.3);
	padding: u(0.2rem 0.9rem 0.1rem 0.8rem);
	border-radius: u(0.3rem);
	background-color: rgba($color-text-paragraph, 0.05);
}

.clouded
{
	animation: clouded 1s;	z-index: 10;
	background-color: rgba($color-brand-main-dark, 0.65);
}
@keyframes clouded {
	from {
		z-index: -1;
		background-color: rgba($color-brand-main-dark, 0);
	}
	to {
		z-index: 10;
		background-color: rgba($color-brand-main-dark, 0.65);
	}
}

.cleared
{
	animation: cleared 0.3s;
	z-index: -1;
	background-color: rgba($color-brand-main-dark, 0);
}
@keyframes cleared {
	from {
		z-index: 1;
		background-color: rgba($color-brand-main-dark, 0.65);
	}
	to {
		z-index: -1;
		background-color: rgba($color-brand-main-dark, 0);
	}
}

table
{
	margin-top: u(1.2rem);
}
th
{
	font-weight: 500;
}
th, td
{
	@extend .txtcenter;
	padding: u(0.2rem 1.2rem);
	border-bottom: u(0.1rem) solid rgba($color-brand-main-dark, 0.5);
}
th:first-child, td:first-child
{
	@extend .txtright;
	padding-right: u(1.2rem);
}